@import 'bootstrap/dist/css/bootstrap.min.css';

/* Remove default body margin */
body {
  margin: 0;
}

/* Fullscreen background styling */
.fullscreen-bg {
  background-color: hsla(30.73, 22.65%, 64.51%, 1);
  min-height: 100vh;
  padding: 2rem;
}

